/* This changes so that the line "create new thread" disappears, and the button for creating
 * new thread is instead put next to the three dots [...] */

.list_header {
  margin-right: 25px;
}

.center_column_button--wrapper {
  padding: 0;
}

.center_column_button {
  position: absolute;
  top: 3px;
  right: 10px;
  background-color: transparent !important;
}

.center_column_button svg {
  color: var(--twist-nav-bar);
}

[data-theme='dark'] .center_column_button svg,
.reactist_popover__wrapper svg {
  color: var(--content-primary);
}

.center_column_button p {
  display: none;
}

.center_column_button--wrapper {
  border: none !important;
}
