/* unread markers */
.unread_count:not(:empty) {
  background-color: red;
  color: white !important;
  font-weight: bold;
  margin: 0 3px 0 auto;
  padding: 2px 1px;
  text-align: center;
  font-size: 10px !important;
  border-radius: 100%;
  line-height: 1.3;
}

.switch_pane a.unread .unread {
  background-color: red;
}

/* threads */

.thread.item .status_icons {
  padding-top: 10px !important;
}

.thread.item .border_wrapper {
  padding: 10px 0px !important;
}

.thread.item:not(.unread) {
  background-color: rgba(242,245,245,0.8);
}

.archived .thread.item {
  background-color: rgba(242,245,245,0.8);
}

.archived .thread.item h1 {
  color: var(--content-secondary);
  overflow-x: hidden;
}

.thread.item article {
  display: none !important;
}

.thread.item section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.thread.item header {
  width: 100%;
  overflow-x: hidden;
  flex: 1 1 auto;
}

.thread.item label {
  flex: 0 0 125px;
  margin-left: 5px;
  display: block !important;
  text-align: center;
}

.thread.item label .content {
}


/* header above twists */
.list_header .popover__wrapper:last-child {
  margin-right: 40px;
}

.center_column_button {
  position: absolute;
  right: 0;
  background-color: transparent !important;
}

.center_column_button svg {
  color: var(--twist-nav-bar);
}

.center_column_button  p {
  display: none;
}

.center_column_button--wrapper {
  border: none !important;
}

/* messages */
.attachment.__website {
  display: none;
}

/* emoticons */
img.emoji {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
